.menu {
display:flex;
justify-content: space-between;
  background-color: black;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 400;
  color: white;
}
.body {
  display:flex;
  background-color: whitesmoke;
}
.grid {
  display:flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  justify-content: last baseline;
  flex-direction: row;
  text-align: left;
  flex-wrap: wrap;
}

.grid img {
display:flex;
  border: 2px solid black;
  border-radius: 50px;
}
.origami {
 display:flex ;
  border-radius: 20px;
  background-color: white;
  margin: 20px;

  width: 310px;
  font-family: fantasy;
}
